@model Computer

<div class="well">
    <h2>@Model.Manufacturer  @Model.Model - @Model.Nickname</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>CPU</td>
                <td>RAM</td>
                <td>Drive(s)</td>
            </tr>
        </thead>


        <tr>
            @foreach (CPU cpu in Model.Cpus)
            {
                <td>@cpu.Manufacturer @cpu.Model</td>
            }
            <td>
                @foreach (RAM ram in Model.Ram)
                {
                    <p>@ram.Manufacturer @ram.Model</p><br />
                }
            </td>
            <td>
                @foreach (Drive d in Model.Drives)
                {

                    <p>@d.Manufacturer @d.Model @d.SizeInGB GB</p><br />
                }
            </td>
        </tr>
    </table>
</div>


